/* Estilos para a seção de contato */

/* Título da seção de contato */
.contact-us {
    font-size: 2rem;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container principal da seção de contato */
.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    box-sizing: border-box;
}

/* Informações de contato (metade da largura) */
.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Caixa com ícones e textos (início do recuo) */
.box {
    padding: 20px 0;
    display: flex;
    padding-left: 420px;
}

/* Ícone na caixa de informações */
.icon {
    min-width: 60px;
    height: 60px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

/* Texto dentro da caixa de informações */
.contact-container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

/* Título dentro da caixa de informações */
.contact-container .contact-info .box text h3 {
    font-weight: 500;
    color: #f80606;
}

/* Formulário de contato (metade da largura) */
.contact-form {
    width: 50%;
    padding: 40px;
    margin-left: 20px;
}

/* Título do formulário de contato */
.contact-form h2 {
    font-size: 30px;
    font-weight: 500;
}

/* Caixa de entrada de texto */
.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

/* Estilo para a entrada de texto no formulário */
.inputBox input,
.contact-form .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

/* Estilo específico para a área de texto no formulário */
.contact-form .inputBox textarea {
    resize: none;
}

/* Estilo para o texto de dica abaixo da entrada de texto */
.contact-form .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

/* Design responsivo para telas menores que 1570px */
@media screen and (max-width: 1570px) {
    /* Ajuste do layout para coluna e redução do espaço à direita */
    .contact-container {
        flex-direction: column; 
        padding-right: 20px;
    }

    /* Ajuste da largura para 50%, remoção da margem à esquerda e adição de preenchimento à esquerda */
    .contact-info,
    .contact-form {
        width: 50%; 
        margin-left: 0; 
        padding-left: 20px; 
    }

    /* Ajuste do layout da caixa para centralizado e texto alinhado ao centro */
    .box {
        padding-left: 0;
        justify-content: center; 
        text-align: center; 
    }
}
